<footer class="py-5 bg-dark footer navbar-fixed-bottom">
    <div class="container">
      <p class="m-0 text-center text-white">Developed by &copy; Alam Jamal Under The Supevision of Jameel Sir 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
	<script type="text/javascript" src="{{url_for('static', filename = 'vendor/bootstrap/js/bootstrap.min.js')}}"></script>