{% extends "layout.html" %}
 <style type="text/css">
.jumbotron{
            margin-top: 20px;
            background-image: url('{{ url_for('static', filename='img/jumbotron.jpg') }}');
            background-size: cover;
            background-repeat: no-repeat;
            color: white;
          } 

  </style>

{% block body %}

  <!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h1 class="display-3"> Next Generation Hospital</h1>
      <p class="lead" style="color:black; font-weight: bold; font-family:arial">An Intelligent Hospital That is Built on Top of Machine Learning and IoT.</p>
      <a href="/about" class="btn btn-primary btn-lg">Learn How it Works!</a>
    </header>

    <!-- Page Features -->
    <div class="row text-center">

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="static/img/heart.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Heart Disease</h4>
            <p class="card-text">Check Heart Disease by just applying thirteen parameter</p>
          </div>
          <div class="card-footer">
            <a href="/plogin" class="btn btn-primary">Predict Now!</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="static/img/lung.jpg"" alt="">
          <div class="card-body">
            <h4 class="card-title">Lung Disease</h4>
            <p class="card-text">Check Lung Disease </p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Predict Now!</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="static/img/Diabetes.png" alt="">
          <div class="card-body">
            <h4 class="card-title">Diabetic Disease</h4>
            <p class="card-text">Check Diabetic Disease </p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Predict Now!</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="static/img/cancer.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Cancer Disease</h4>
            <p class="card-text">Check Cancer Stage</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Predict Now!</a>
          </div>
        </div>
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  {% endblock %}