<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Intelligent Hosoital</title>

  <!-- Bootstrap core CSS -->
  <link href="{{url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css' ) }}" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href= "{{ url_for('static', filename='css/heroic-features.css') }}" rel="stylesheet">
  <link href= "{{ url_for('static', filename='css/bulma.min.css') }}" rel="stylesheet">

  <style type="text/css">
.jumbotron{
            margin-top: 20px;
            background-image: url('{{ url_for('static', filename='img/jumbotron.jpg') }}');
            background-size: cover;
            background-repeat: no-repeat;
            color: white;
          } 

  </style>

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">Intelligent Hospital</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>

          <{% if not (session['logged_in'] or session['plogged_in']) %}
          <li class="nav-item">
            <a class="nav-link" href="/plogin">Patient Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/elogin">Employee Login</a>
          </li>
          {% endif %}

          


          {% if session['logged_in'] or session['plogged_in']%}
            {% if session['logged_in'] %}
              <li class="nav-item">
            <a class="nav-link" href="/elogin"> Hi Employee</a>
              </li>
          
            {% elif session['plogged_in'] %}
              <li class="nav-item">
            <a class="nav-link" href="/plogin"> Hi Patient</a>
              </li>
           
            {% endif %}
            <li class="nav-item">
            <a class="nav-link" href="/logout"> Logout</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

{% block body %}  {% endblock %}


  <!-- Footer -->
  <footer class="py-5 bg-dark footer navbar-fixed-bottom">
    <div class="container">
      <p class="m-0 text-center text-white">Developed by &copy; Alam Jamal 2020 &year; r</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
	<script type="text/javascript" src="{{url_for('static', filename = 'vendor/bootstrap/js/bootstrap.min.js')}}"></script>
</body>

</html>
